- javascripts "livesearch.js"
= title t(".title")

- form_tag search_path, :method => :get do
  %p.field
    = text_field_tag :terms, params[:terms]
    = submit_tag t(".title"), class: 'search'

#search_instruction{style: 'margin-top: 20px'}
  - if !@spots or @spots.empty?
    = render "search_instructions_#{current_locale}"
    
%ul#spots_list
  - if @spots
    = render :file => "spots/spot_search.html.haml", :object => @spots

