= title @spot
- if @spot.type
  %h2= @spot.type
%h2
.contact
  %p.address
    %strong= t(:spot_address)
    = @spot.full_address
  %p.phone
    %strong= t(:spot_phone)
    = @spot.phone
  - if @spot.mobile
    %p.mobile
      %strong= t(:spot_mobile)
      = @spot.mobile
  - if @spot.fax
    %p.fax
      %strong= t(:spot_fax)
      = @spot.fax
  %p.email
    %strong= t(:spot_email)
    = link_to_self @spot.email, true
  %p.website
    %strong= t(:spot_website)
    = link_to_self @spot.website

.images
  - admin_section do
    = link_to "Dodaj fotografijo", new_spot_image_path(@spot)
  .first= render @spot.images.first
  .other= render @spot.images_other


- if @spot.category and (@spot.category > 0)
  %p
    %strong= t(:spot_category)
    = format_category @spot.category, @spot.type_id
- if @spot.cuisine
  %p
    %strong= t(:spot_cuisine)
    =h @spot.cuisine
- if @spot.has_garden?
  %p.garden= t(:spot_garden)
- if @spot.has_homebread?
  %p.homebread= t(:spot_homebread)

- if @spot.has_rooms?
  .rooms
    %table
      %thead
        %tr
          %th= t(:spot_room_type)
          %th= t(:spot_room_number)
      %tbody
        - if @spot.number_of_1_rooms
          %tr
            %td= t(:spot_number_of_1_rooms)
            %td= @spot.number_of_1_rooms    
        - if @spot.number_of_2_rooms
          %tr
            %td= t(:spot_number_of_2_rooms)
            %td= @spot.number_of_2_rooms
        - if @spot.number_of_3_rooms
          %tr
            %td= t(:spot_number_of_3_rooms)
            %td= @spot.number_of_3_rooms
        - if @spot.number_of_4_rooms
          %tr
            %td= t(:spot_number_of_4_rooms)
            %td= @spot.number_of_4_rooms
        - if @spot.number_of_appartments
          %tr
            %td= t(:spot_number_of_appartments)
            %td= @spot.number_of_appartments
        - if @spot.number_of_disabled_rooms
          %tr
            %td= t(:spot_number_of_disabled_rooms)
            %td= @spot.number_of_disabled_rooms
        - if @spot.number_of_executive_rooms
          %tr
            %td= t(:spot_number_of_executive_rooms)
            %td= @spot.number_of_executive_rooms
  
- unless @spot.payments.empty?
  .payments
    %h3= t(:payment_methods)
    %ul= render :partial => "payment", :collection => @spot.payments

- admin_section do
  - @spot.spot_infos.each do |si|
    = link_to language(si.language), edit_spot_info_path(@spot, si)
  = link_to t(:edit), edit_object_url
      