= title @spot
- if @spot.type
  %h2
    = @spot.type
    - if @spot.category? and (@spot.category > 0)
      = format_category @spot.category, @spot.type_id
  
.contact
  %p.name
    %strong
      - if @spot.long_name?
        = @spot.long_name
      - else
        = @spot.name
  - if @spot.address
    %p.address
      = "#{@spot.address},"
      = @spot.post_id
      = @spot.post
  %p.phone
    = @spot.phone
  - if @spot.mobile?
    %p.mobile
      = @spot.mobile
  - if @spot.fax?
    %p.fax
      = @spot.fax
  - if @spot.email?
    %p.email
      = link_to_self @spot.email, true
  - if @spot.website?
    %p.website
      = link_to_self @spot.website

.description= @spot_info.description

- if @spot_info.location_description?
  .location
    %h3= t(:location)
    %p= @spot_info.location_description

- if @spot_info.working_hours?
  .hour_data
    %h3= t("work_time")
    - if @spot_info.working_hours?
      %p.working
        = @spot_info.working_hours
    - if @spot_info.closed?
      %p.working
        %strong= t(:closed)
        = @spot_info.closed
    

.culinary
  %h3= t("culinary_data")
  - if @spot.cuisine
    %p
      %strong= t(:spot_cuisine)
      =h @spot.cuisine
  - if @spot_info.speciality?
    %p
      %strong= t(:speciality)
      = @spot_info.speciality
  - if @spot_info.spoon_dishes?
    %p
      %strong= t(:spoon_dishes)
      = @spot_info.spoon_dishes

  - if @spot.has_garden?
    %p.garden= t(:spot_garden)
  - if @spot.has_homebread?
    %p.homebread= t(:spot_homebread)

- if @spot_info.wellness_description?
  .wellness
    %h3= t(:wellness)
    %p= @spot_info.wellness_description
- if @spot_info.equipment_description?
  .equipment
    %h3= t(:equipment)
    %p= @spot_info.equipment_description
- if @spot_info.extra_description?
  .extra
    %h3= t(:extra)
    %p= @spot_info.extra_description



.side
  .images
    - admin_section do
      = link_to "Dodaj fotografijo", new_spot_image_path(@spot)
    - unless @spot.images.empty?
      .first= render @spot.images.first

  - unless @spot.payments.empty?
    .payments
      %h3= t(:payment_methods)
      %ul= render :partial => "payment", :collection => @spot.payments

  - if @spot.has_rooms?
    .rooms
      %h3 Rooms
      %table{:cellspacing => 0, :cellspacing => 0}
        %thead
          %tr
            %th= t(:spot_room_type)
            %th= t(:spot_room_number)
        %tbody
          - if @spot.number_of_1_rooms and not @spot.number_of_1_rooms.zero?
            %tr
              %td= t(:spot_number_of_1_rooms)
              %td.rooms= @spot.number_of_1_rooms    
          - if @spot.number_of_2_rooms and not @spot.number_of_2_rooms.zero?
            %tr
              %td= t(:spot_number_of_2_rooms)
              %td.rooms= @spot.number_of_2_rooms
          - if @spot.number_of_3_rooms and not @spot.number_of_3_rooms.zero?
            %tr
              %td= t(:spot_number_of_3_rooms)
              %td.rooms= @spot.number_of_3_rooms
          - if @spot.number_of_4_rooms and not @spot.number_of_4_rooms.zero?
            %tr
              %td= t(:spot_number_of_4_rooms)
              %td.rooms= @spot.number_of_4_rooms
          - if @spot.number_of_appartments and not @spot.number_of_appartments.zero?
            %tr
              %td= t(:spot_number_of_appartments)
              %td.rooms= @spot.number_of_appartments
          - if @spot.number_of_disabled_rooms and not @spot.number_of_disabled_rooms.zero?
            %tr
              %td= t(:spot_number_of_disabled_rooms)
              %td.rooms= @spot.number_of_disabled_rooms
          - if @spot.number_of_executive_rooms and not @spot.number_of_executive_rooms.zero?
            %tr
              %td= t(:spot_number_of_executive_rooms)
              %td.rooms= @spot.number_of_executive_rooms

  - unless @nearby.empty?
    .nearby
      %h3= t(:nearby_spots)
      = @nearby.map {|s| link_to s, s }.join(", ")

%br.clear

- if @spot.geocoded?
  - @map = GoogleMap::Map.new :zoom => 15, :center => GoogleMap::Marker.new(:map => GoogleMap::Map.new, :lat => @spot.lat, :lng => @spot.lng)
  - @map.markers << GoogleMap::Marker.new(:map => @map, :marker_hover_text => @spot.name, :lat => @spot.lat, :lng => @spot.lng, :html => render(:partial => 'info', :locals => {:spot => @spot}))
  - @nearby.each do |n|
    - if n.geocoded?
      - @map.markers << GoogleMap::Marker.new(:map => @map, :marker_hover_text => n.name, :lat => n.lat, :lng => n.lng, :html => render(:partial => 'info', :locals => {:spot => n}), :icon => GoogleMap::SmallIcon.new(@map, 'blue'))
  = @map.to_html
  #map= @map.div

- admin_section do
  - @spot.spot_infos.each do |si|
    = link_to language(si.language), edit_spot_info_path(@spot, si)
  = link_to t(:edit), edit_object_url