= title t(".title")

%table.nice
  %thead
    %tr
      %th Name
  %tbody
    - @cuisines.each do |cuisine|
      %tr
        %td= cuisine        
        %td
          - admin_section do
            = link_to 'Edit', edit_object_url(cuisine)
            = link_to 'Destroy', object_url(cuisine), :confirm => 'Are you sure?', :method => :delete

- admin_section do
  = link_to 'New cuisine', new_object_url