= title t(".title")

%table.nice
  %thead
    %tr
      %th= t(:name)
  %tbody
    - @types.each do |type|
      %tr
        %td= h type.name    
        %td
          - admin_section do
            = link_to t(:edit), edit_object_url(type)
            = link_to t(:destroy), object_url(type), :confirm => destroy_confirmation(type), :method => :delete


- admin_section do
  = link_to 'New type', new_object_url