%p
  %label{:for => "order_company_name"} Company name:
  = f.text_field :company_name
%p
  %label{:for => "order_person_name"} Person name:
  = f.text_field :person_name
%p
  %label{:for => "order_address"} Address:
  = f.text_field :address
%p
  %label{:for => "order_post_id"} Post:
  = f.text_field :post_id
%p
  %label{:for => "order_vat_id"} Vat:
  = f.text_field :vat_id
%p
  %label{:for => "order_phone"} Phone:
  = f.text_field :phone
%p
  %label{:for => "order_mobile"} Mobile:
  = f.text_field :mobile
%p
  %label{:for => "order_fax"} Fax:
  = f.text_field :fax
%p
  %label{:for => "order_email"} Email:
  = f.text_field :email
%p
  %label{:for => "order_quantity"} Quantity:
  = f.text_field :quantity
%p
  %label{:for => "order_ip_address"} Ip address:
  = f.text_field :ip_address
%p
  %label{:for => "order_date_processed"} Date processed:
  = f.datetime_select :date_processed
