%h2= language(@spot_info.language)
- form_for [@spot_info.spot, @spot_info], :html => {:class => 'nice'} do |f|
  %p.submit
    = f.submit :Shrani
    
  %p
    = f.label t(:working_hours)
    = f.text_field :working_hours
  %p
    = f.label t(:closed)
    = f.text_field :closed
  %p
    = f.label t(:location_description)
    = f.text_field :location_description
  %p
    = f.label t(:speciality)
    = f.text_area :speciality
  %p
    = f.label t(:spoon_dishes)
    = f.text_area :spoon_dishes
  %p
    = f.label t(:description)
    = f.text_area :description
  %p
    = f.label t(:wellness_description)
    = f.text_area :wellness_description
  %p
    = f.label t(:equipment_description)
    = f.text_area :equipment_description
  %p
    = f.label t(:extra_description)
    = f.text_area :extra_description
  
  %p.submit
    = f.submit :Shrani