%p
  %label{:for => "spot_info_working_hours"} Working hours:
  = f.text_field :working_hours
%p
  %label{:for => "spot_info_closed"} Closed:
  = f.text_field :closed
%p
  %label{:for => "spot_info_location_description"} Location description:
  = f.text_area :location_description
%p
  %label{:for => "spot_info_speciality"} Speciality:
  = f.text_field :speciality
%p
  %label{:for => "spot_info_spoon_dishes"} Spoon dishes:
  = f.text_area :spoon_dishes
%p
  %label{:for => "spot_info_description"} Description:
  = f.text_area :description
%p
  %label{:for => "spot_info_wellness_description"} Wellness description:
  = f.text_area :wellness_description
%p
  %label{:for => "spot_info_equipment_description"} Equipment description:
  = f.text_area :equipment_description
%p
  %label{:for => "spot_info_extra_description"} Extra description:
  = f.text_area :extra_description
%p
  %label{:for => "spot_info_language"} Language:
  = f.text_field :language
