%p
  %strong= t(:working_hours)
  = spot_info.working_hours
%p
  %strong= t(:closed)
  = spot_info.closed
%p
  %strong= t(:location_description)
  = spot_info.location_description
%p
  %strong= t(:speciality)
  = spot_info.speciality
%p
  %strong= t(:spoon_dishes)
  = spot_info.spoon_dishes
%p
  %strong= t(:description)
  = spot_info.description
%p
  %strong= t(:wellness_description)
  = spot_info.wellness_description
%p
  %strong= t(:equipment_description)
  = spot_info.equipment_description
%p
  %strong= t(:extra_description)
  = spot_info.extra_description
