= title t(".title")

%table.nice
  %thead
    %tr
      %th Spot
  %tbody
    - @images.each do |image|
      %tr
        %td= image_tag image.image.url(:small)
        
        %td
          - admin_section do
            = link_to t(:edit), edit_object_url(image)
            = link_to t(:destroy), object_url(image), :confirm => 'Are you sure?', :method => :delete

- admin_section do
  = link_to 'New image', new_object_url