!!! strict
%html
  %head
    %title
      - if yield(:title)
        = yield(:title)
        = "(#{t('head.title')})"
      - else
        = t("head.title")
    = stylesheet_link_tag 'application'
    = javascript_include_tag :defaults
    = yield :head
  %body{body_attrs}
    #wrap
      #head
        #languages
          .text= t("head.choose_language")
          - I18n.available_locales.each { |l| puts link_to_language l }
        %h1= link_to_span t("head.title"), root_path
        %h2= t("head.subtitle")
        #menu
          %ul
            %li= link_to t("menu.home"), spots_path
            %li= link_to t("menu.search"), search_path
            %li= link_to t("menu.order"), order_path            
            %li= link_to t("menu.about"), about_path
            %li.last= link_to t("menu.authors"), authors_path
            %li.clear
      #content
        = yield
        %br.clear
    #foot
      &copy; 2009 Pozoj d.o.o. &mdash; 
      = t("foot.copyright")