!!! strict
%html
  %head
    %title= t("head.title")
    = stylesheet_link_tag 'application'
  %body
    #wrap
      #head
        %h1= link_to t("head.title"), root_path
        %ul.languages
          - I18n.available_locales.each do |l|
            %li= link_to t("head.language_#{l}"), :locale => l
      #menu
        %ul
          %li= link_to t("menu.localities"), localities_path
          %li= link_to t("menu.posts"), posts_path
          %li= link_to t("menu.about")#, about_path
          %li= link_to t("menu.authors")#, authors_path
          %li.clear
      #content= yield
      #foot
        &copy; 2009 Pozoj d.o.o. &mdash; 
        = t("foot.copyright")