!!! strict
%html
  %head
    %title Dobre gostilne v Sloveniji
    = stylesheet_link_tag 'application'
  %body
    #wrap
      #head
        %h1= link_to "Dobre gostilne", root_path
      #menu
        %ul
          %li= link_to "Področja", localities_path
          %li= link_to "Kraji", posts_path
          %li= link_to "O strani"#, about_path
          %li= link_to "Avtorji"#, authors_path
          %li.clear
      #content= yield
      #foot
        &copy; 2009 Pozoj d.o.o. &mdash; Vse pravice pridržane